@import "sass/variables";
@import "sass/bootstrap";
@import "sass/mixin";
@import "sass/keyframes";

body,html{width:100%;height:100vh;margin:0;padding:0;}
body{
	background-color:#7f7f7f;
}
div.boundary{
	text-align:center;
	width:100%;
	min-height:100vh;
	max-width:1200px;
	margin:0 auto;
	background-color:#fff;
	header,section.main,footer{
		width:100%;
		text-align:left;
		padding:10px;
		box-sizing:border-box;
	}
	section.main{
		.phase{
			form{
				.formField{
					margin:0 0 1em 0;
					position:relative;
					label{
						width:100%;
					}
					input[type="text"]{
						width:100%;
						padding:0.5em;
						box-sizing:border-box;
						z-index:5;
					}
					span{
						display:none;
						color:#00af00;
					}
					&:after{
						content: ' ';
						clear:both;
						float:none;
						display:block;
					}
					&.ready{
						span{
							position:absolute;
							right:10px;
							top:33px;
							z-index:10;
							display:block;
						}
					}
					&.warning{
						label{
							color:#af0000;
							font-weight:bold;
						}
						input[type="text"]{
							color:#af0000;
							border-color:#af0000;
							font-weight:bold;
						}
					}
					@media screen and (min-width: 768px) {
						&{
							label, input[type="text"], span{
								float:left;
								display:inline-block;
							}
							span{
								display:none;
							}
							label{
								width:200px;
							}
							input[type="text"]{
								width:250px;
							}
							&.ready{
								span{
									position:static;
									padding:0.5em;
									display:inline-block;
								}
							}
							&:after{
								content: ' ';
								clear:both;
								float:none;
								display:block;
							}
						}
					}
				}
				input[type="submit"]{
					margin:0 0 1em 0px;
					border:0;
					width:100px;
					color:#fff;
					padding:0.5em 0;
					background-color:#007f00;
					outline:none;
					&:hover{
						background-color:#00af00;
					}
					@media screen and (min-width: 768px) {
						&{
							margin-left:200px;
						}
					}
				}
			}	
			div.warningMessage{
				height:0px;
				overflow:hidden;
				-webkit-transition: height 1s;
				-moz-transition: height 1s;
				-o-transition: height 1s;
				transition: height 1s;

				&.open{
					height:50px;
				}
				p{
					color:#af0000;
					margin:0 0 0 0px;
					@media screen and (min-width: 768px) {
						&{
							margin-left:200px;
						}
					}
				}
			}
			div.googlemap{
				width:100%;
				padding-top:50%;
				margin:0 auto;
				background-color:#202020;
				display:block;
				border:1px solid #000;
			}
		}
	}
}